<!DOCTYPE html>

<script type="text/javascript">
function validateForm() {
	console.log("validating");
    var x = document.forms["update-company"]["name"].value;
	var y = document.forms["update-company"]["url"].value;
    if (x == "" || y == "") {
        alert("Please fill all required fields");
        return false;
    }
	return true;
}
</script>

<html>
	<p><a href="../index.html">Home</a></p>
	<h1>Update {{oneCompany.name}}:</h1>
	<form id="update-company" action="/company" method="post">
		Name: <input type="text" name="name" value="{{oneCompany.name}}"><br>
		URL: <input type="url" name="url" value="{{oneCompany.url}}"><br>
	</form>
	<button onclick="return validateForm() && updateCompany({{oneCompany.id}})">Update</button>
</html>